<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>Error</title>
</head>
<body>

<div class="container">
</br>
<div class="jumbotron">
<div class="row">
<div class="col-sm-4">
<h1>Houston!</h1>
<h3>We have problem!</h3>
</div>
<div class="col-sm-4">
<img src="https://iili.io/J5tUMB.png" height="120px"></img>
</div>
</div>


</div>

</div>
</body>

</html>