<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Quicksand:wght@300&display=swap" rel="stylesheet">

<title>WikiShow - {{pageTitle}}</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<a class="navbar-brand" href="{{app_adress}}">Wikipedia App</a>
</nav>  
    
<div class="container">

<br>
<h2 style="font-family: 'Quicksand', sans-serif;">{{pageTitle}}</h2>
    <hr>
<p class ="text-justify" style="font-family: 'Quicksand', sans-serif;">{{pageContent}}</p>
<hr>
<br>
   

</div>
</body>

</html>